<ion-list>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Confirm password</ion-label>
    <ion-input type="password" [(ngModel)]="confirm" required></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button large full block (click)="onSignup()">Sign up</button>
  </ion-item>
</ion-list>
